

#clock_container {
	
	border-style: solid;
	border-radius: 10px;
	border-color: white;
	border-width: 1px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	line-height: 1em;
	/*margin-top: -100px;*/
	text-align: center;
	/*height: 200px;*/

}

.row-fluid{
max-width: 1000px;
}

.alert-text{
font-size: 20px;

}

#alarmdropdown{
margin-top: -4px;
}

.hide {
display: none;
}

.icon-cog{
position: relative;
margin-left: .1em;
margin-top: .1em;
cursor: pointer;
}

.icon-bell {
position: relative;
margin-right: 10px;
margin-top: 10px;
display: none;
cursor: pointer;
}

.gray-text:hover{
color: white;
cursor: pointer;
}

#alarm-select-div{
float: none;
}

#square {
	position:relative;
	width: 30px;
	height: 20px;
	background-color: #bebec5;
	border: 1px solid #ddd;
	color: #bebec5;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-top: -23px;
	margin-left: 10px;
	
}
	
	
	#triangle-right {
	width: 0;
	height: 0;
	position:relative;
	margin-top: 12.5px;
	border-top: 12.5px solid transparent;
	border-left: 25px solid white;
	border-bottom: 12.5px solid transparent;
	z-index:1000;
}
	

.gray-text{
color: gray;
font-size: 15px;
font-weight: bold;
line-height: 1em;
position: relative;
margin-top: -1.5em;
margin-left: 1em;
}

.info-text{
font-weight: bold;
font-size: 1.5em;


}

.center {
position: relative;
margin-left: auto;
margin-right: auto;
text-align: center;
max-width: 1000px;
float: none !important;
}

#groovesharksearch{
height: 30px;
width: 170px;
}

#timepicker{
height: 30px;
width: 80px;
}

#alarmtype{
width: 170px;
}

#groovesharkrow{
display:none;
}

body {
	
	background-color: #111111;
	
}

label{
vertical-align: top;
}

#settings-container{
position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	line-height: 1em;
	/*margin-top: -100px;*/
	/*text-align: center;*/
	/*height: 200px;*/

}

.clock_div{
color: #F5FFFA;
	font-size: 9em;
	/*line-height: 1.5em;*/
	font-weight: bold;
}